{% extends 'blog/base.html' %}

   {% block content %}
       <div class="post">
         <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span>EDIT POST</a>
           <h1>{{ post.title }}</h1>
           <p>{{ post.text|linebreaksbr }}</p>
           <h2 style="color:green;">Author: {{ post.author }}</h2>
           <form action="{% url 'post_delete' post.id %}" method="post">
             {% csrf_token %}
             <button type="submit" class="save btn btn-default">
               <span class="glyphicon glyphicon-trash">DELETE</span>
             </button>

           </form>
       </div>
   {% endblock %}
