{% extends 'blog/base.html' %}

    {% block content %}
        <h1>New post</h1>
        <div class="row">
          <div class="panel panel-default">
              <div class="panel-body">
                <form method="POST" class="post-form from-horizotal" action="" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% include 'blog/form-template.html' %}
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="save btn btn-success">Go!</button>
                    </div>
                  </div>
                    <!-- {{ form.as_p }} -->
                </form>
              </div>
          </div>
        </div>

    {% endblock %}
