{% extends 'blog/base.html' %}

              {% block content %}
                {% for post in posts %}
                    <div class="post">
                        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                        <h2 style="color:green;">Author: {{ post.author }}</h2>
                        <p>{{ post.text|linebreaksbr }}</p>
                        <div class="date">

                            <form action="{% url 'post_delete' post.id %}" method="post">
                              {% csrf_token %}
                              <button type="submit" class="save btn btn-default">
                                <span class="glyphicon glyphicon-trash">DELETE</span>
                              </button>

                            </form>
                        </div>
                    </div>
                {% endfor %}
              {% endblock content %}
